<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Document</title>
</head>
<body>

    <div class="nav-bar">
        <ul>
            <li><a href="/">Home</li>
            <li><a href="/projects">Projects</li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>


    <div class="name-photo-combo">
        <img src="~/images/me.jpg">
        <h2>Luis Robles</h2>
    </div>

    <div class="aboutme">
    
        <p>Seasoned Product (Program) Manager with expertise in international software releases, across a wide range of products and technologies, from Speech Recognition (SR) and Text-to-Speech (TTS), to Localization (L10n) and Internationalization (I18n).

        High-level experience with conversational-agent components (SR, NLU, NLG, TTS...), as well as the international expansion challenges of Voice-User-Interface (VUI) systems. 

Extensive experience in Localization (L10n) and Internationalization (I18n) for mobile devices, in both Program Management and Quality Assurance (QA) roles.

10+ years of proven abilities as vendor and people manager; 7+ years of experience shipping complex software products internationally, with exposure to different engineering methodologies; 7+ years of experience driving improvements in processes, infrastructure, and tools for international engineering teams.

Knowledge of international scaling challenges and strategies, experience with large data collection efforts (including crowd-sourced approaches) for Spoken Language Understanding, Machine Learning, Transcription, Data Annotation, and Localization.

Excellent skills in problem-solving, managing cross-group collaboration and building cross-team relationships. Strong skills for understanding customer requirements and transferring that knowledge into engineering and QA processes.</p>

    </div>



</body>
</html>