@{
    ViewData["Title"] = "Home Page";
}
<h1>Login / Registration</h1>


<form action="validate" method="POST">
    <input type="text" name="first_name">
    <input type="text" name="last_name">
    <input type="email" name="email">
    <input type="submit">
</form>