<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <h1>Form</h1>

    <form action="process" method="POST">

        Your name:<input type="text" name="name">
        <br>

        Dojo Location:
        <select name="location">
            <option value="Seattle">Seattle</option>
            <option value="San Jose">San Jose</option>
            <option value="Chicago">Chicago</option>
        </select>
        <br>

        Favorite Language:
        <select name="favorite_language">
            <option value="javascript">Javascript</option>
            <option value="c++">C++</option>
            <option value="Python">Python</option>
        </select>
        <br>

        Comments (optional):
        <input type="textarea" name="comments">
        <br>

        <input type="submit" value="Submit">

    </form>
</body>

</html>